{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">

    <title>Document</title>
    
</head>
<body>
    <header> 
        <a href="{% url 'home'%}">Home</a>
        <a href="{% url 'about'%}">about</a>
        <a href="{% url 'product'%}">product</a>
    </header>

    {% block content %}
    {% endblock content %}
     <script src="{% static 'js/base.js' %}"></script>
</body>
</html>